nav i {
    font-size: 1.25em;

    color: black;
}

#brand {
    position: absolute;
    left: calc(50vw - 2.25em);
    transform: scale(10) translate(0, 10px);

    transition: transform 1s;
}

#landing-img {
    margin-top: 20vh;
    width: 50%;

    transition: margin-top 1s;
}