@font-face {
    font-family: "quicksandlight";
    src: url("../fonts/quicksand/quicksand-variablefont_wght-webfont.woff2") format("woff2"),
         url("../fonts/quicksand/quicksand-variablefont_wght-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: "quicksandlight", Arial, Helvetica, sans-serif;
}

nav i {
    font-size: 1.25em;

    color: black;
}

#brand {
    position: absolute;
    left: calc(50vw - 2.25em);
    transform: scale(10) translate(0, 10px);

    transition: transform 1s;
}

#landing-img {
    margin-top: 20vh;
    width: 50%;

    transition: margin-top 1s;
}

.motto-img {
    width: 100%;
}

#motto {
    margin-top: 150px;
}

#products {
    margin-top: 100px;
}

.card-content {
    margin-top: 80%;
}

.card-content h5 {
    font-size: 1.5em;
    font-weight: 900;
}

#hero-content {
    position: sticky;
    bottom: 10vh;
}