/* 
 * Import Font
 */

@font-face {
    font-family: "quicksandlight";
    src: url("../fonts/quicksand/quicksand-variablefont_wght-webfont.woff2") format("woff2"),
         url("../fonts/quicksand/quicksand-variablefont_wght-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}

/* 
 * Set universal styling
 */

html {
    overflow-y: scroll;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: "quicksandlight", Arial, Helvetica, sans-serif;
}

/* 
 * Declarations for header
 */

nav i {
    font-size: 1.25em;

    color: black;
}

nav button:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
}

.navbar-brand {
    font-size: 2em;
    line-height: 1em;
}

.offcanvas-body {
    font-weight: 600;
}

#user-menu {
    text-decoration: underline;
}

/* 
 * Declarations for footer 
 */

footer a {
    color: white;
}

footer a:hover {
    font-weight: 600;
    color: white;
}

footer ul {
    list-style-type: none;
    padding: 0;
}